.google-search-bar {
    margin-top: 2px;
    margin-bottom: 10px;
    width: 500px;
    border: none;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    transition: 0.25ms;
    display: block;
}

.google-search-bar:hover {
    opacity: 0.7;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 45px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    transition: 0.25ms;
}
.google-search-bar:active {
    transition: 0.25ms;
}

.search-icon {
    height: 31px;
    margin-right: 10px;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    transition: 0.25ms;
}
.search-icon:hover {
    opacity: 0.9;
    cursor: pointer;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: 0.25ms;
}

.felling-lucky {
    height: 31px;
    margin-right: 10px;
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    transition: 0.25ms;
}
.felling-lucky:hover {
    opacity: 0.9;
    cursor: pointer;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: 0.25ms;
}
.prof-3 {
    width: 200px;
    background-color: white;
    object-fit: cover;
    object-position: right;
}

.text-1 {
    display: block;
}
.bttn-1 {
    margin-left: 5px;
    margin-right: 5px;

}