p {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
}
.common-tag {
    font-weight: bold;
    color: black;
}
.common-tag-2 {
    font-weight: bold;
    color: lightgreen;
    font-style: italic;
}
.common-tag-3 {
    color: lightcoral;
    font-style: italic;
}
.common-tag-4 {
    color: rgb(106, 103, 103);
    font-style: italic;
    opacity: 0.7;
    font-size: 11px;
}


.level-1 {
    color: orange;
    font-size: 20px;
    font-weight: bold;
}
.level-2 {
    color: black;
    font-size: 26px;
    font-weight: bold;
}
.level-3 {
    font-family: 'Roboto Mono', monospace ;
    color: black;
    font-size: 34px;
    font-weight: bold;
}
.level-4 {
    color: black;
    font-weight: bold;
    margin-right: 5px;
}
.level-5 {
    color: rgb(57, 103, 149);
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
}
.price-tag-1 {
    color: rgb(75, 151, 119);
    font-weight: bold;
}

.review-1 {
    color: black;
    font-weight: bold;
    width: 500px;
    line-height: 24px;
}

.buy-now {
background-color:white;
color: rgb(10, 102, 194);
font-weight: bold;
border-width: 1.31px;
border-color: rgb(10, 102, 194);
border-style: solid;
padding-top: 9px;
padding-bottom: 9px;
padding-left: 15px;
padding-right: 15px;
border-radius: 20px;
margin-bottom: 20px;
cursor: pointer;
transition: padding-top 250ms,
  padding-bottom 250ms,
  padding-left 250ms,
  padding-right 250ms;
}
.buy-now:hover {
opacity: 0.8;
padding-left: 20px;
padding-right: 20px;
}
.buy-now:active {
background-color: rgb(142, 213, 243);
color: black;
transition: 0.30ms
}